# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Operating System
.DS_Store
Thumbs.db